# API Keys (Provide your own keys)
GEMINI_API_KEY=
GROQ_API_KEY=
OPENWEATHER_API_KEY=

# API Base URLs
FARMINGO_API_BASE_URL=https://swapcodes-farmingo.hf.space
DEMAND_SUPPLY_API_BASE_URL=https://psychological-odelia-unincriminated.ngrok-free.dev
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5

# Concat Endpoints (Next.js Env Expansion Supported)
DEMAND_SUPPLY_API_URL=$DEMAND_SUPPLY_API_BASE_URL/demand_supply
DISEASE_PREDICTION_API_URL=$FARMINGO_API_BASE_URL/crop_disease_prediction
PRICE_PREDICTION_API_URL=$FARMINGO_API_BASE_URL/price_prediction
CROP_RECOMMENDATION_API_URL=$FARMINGO_API_BASE_URL/recommend
WEATHER_API_URL=$WEATHER_API_BASE_URL/weather
